.service-content {


    div {
        background: linear-gradient(to left, #00202e, #193642);
        font-size: 2rem;
        font-weight: 300;
        font-weight: 700;

        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }


}